In [187]:
import hashlib # for grading purposes
import math
import numpy as np
import pandas as pd
import requests
import sqlalchemy

import csv
import os
import pandas as pd

from pandas.io.json import json_normalize

In [188]:
# Read CSV to get API results

X_train = pd.read_csv(os.path.join('data', 'train.csv'), sep=',')
X_train

,Year,Season,blueTeamTag,bResult,redTeamTag,gamelength,game_id
0,2016,Summer,TT,1,HWA,50,b96f782c-da04-4641-9306-68968036bfd9
1,2016,Summer,CRW,0,HWA,31,2a7e2cb1-5ac2-4ea2-bd18-0b261e43345a
2,2016,Summer,SUP,1,AUR,50,e04ed84d-929b-4f0e-a769-e7bffc2b5162
3,2016,Spring,JAG,1,SSB,40,8829614a-313e-413c-9520-d95d7b95af31
4,2016,Spring,SIN,0,CHF,36,db2cf98d-a55e-4e28-9702-d7363fad2ebb
...,...,...,...,...,...,...,...
4063,2016,Spring,INF,0,SIN,35,55f5aa54-756b-4054-bb85-eea3698c2455
4064,2015,Spring,JAG,1,IM,52,6005ab0a-0a02-4df6-855d-0b7485a46157
4065,2016,Spring,JAG,0,AFs,40,fdd3e754-53cc-40d6-8f61-c881e28e920b
4066,2015,Summer,SSG,0,JAG,36,87e8410f-f028-4186-9c2c-3fe3c2e41fe3
4067,2016,Spring,RNG,1,SKT,42,75c33cf7-44b3-4439-994a-d27a308117b1

In [ ]:
api_df = pd.DataFrame()
for game_id in X_train['game_id']:
    random_url = base_url + game_id
    response = requests.get(random_url,params="response")
    response = response.json()
    #game_id, not_found
    if list(response.keys())[0] == 'message':
        continue
    response = pd.json_normalize(response['kills'])
    response['game_id'] = game_id
    api_df = api_df.append(response)

In [ ]:
api_df

In [ ]:
api_df.reset_index(drop=True)

In [ ]:
api_df.to_csv('data/'+'api_data.csv')

In [ ]:
#how many time blue killed
api_df_working = api_df
api_df_working_dist = pd.DataFrame()

api_df_working_dist['bKills'] = api_df_working.loc[api_df_working['Team']=='bKills'].groupby('game_id').size()


#api_df_working_dist.str.split("t", n = 1, expand = True)#= api_df_working_dist.set_index(['game_id'])

api_df_working_dist['rKills'] = api_df_working.loc[api_df_working['Team']=='rKills'].groupby('game_id').size()
api_df_working_dist = api_df_working_dist.fillna('0')
api_df_working_dist['Delta'] = api_df_working_dist.sub(['bKills', 'rKills'], axis='columns')

In [182]:
api_df_working_dist.to_csv('data/'+'api_df_working_dist.csv')